@font-face {
      font-family: customFont;
      src: url(../assets/googlefonts/Spectral/Spectral-Medium.ttf);
    }

    


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: customFont, Arial, sans-serif;;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden !important;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1.1px;
    /*line-height: 24px;*/
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
    /*font-weight: 500;*/
    font-size: 17px;
    letter-spacing: 1.1px;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}


/* header section start */

.header_section {
    padding: 20px 0px;
}

.logo {
    width: 15%;
    float: left;
    position: relative;
    margin-left: 20px;
}

.btn-main{
    background-color: #652D90;
    border-color: #652D90;
}

.btn-outline-main{
    color: #652D90;
    background-color: transparent;
    border-color: #652D90;
    margin-left: 400px;

}

.text-main{
    color: rgb(255, 217, 83);
}

.menu_text{
    width: 22%;
    height: 40px;
    float: right;
    position: relative;
}

.menu_main{
    margin-top:23px;
}

.menu_main ul {
    margin: 0px;
    padding: 0px;
}

.menu_main li {
    font-size: 20px;
    color: #385a64;
    float: left;
    margin-left: 10px;
}

.menu_main li a {
    color: #385a64;
    padding-left: 10px;
}

.menu_main li a:hover {
    color: #652D90;/*#3674f2;*/
}

.bg-dark {
    background-color: rgba( 54, 14, 14, 0.5)!important;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a:hover{
    color: #652D90;
}

.toggle_menu {
    top: 8px;
    position: relative;
    left: 0px;
}
/* header section end */

/*video section starts*/
    #videowrapper{  
        position: relative;
        overflow: hidden;
        margin-top: -20px;
    } 

    #fullScreenDiv{
        min-height: 100%; 
        height: 90vh;
        width: 100vw;
        padding:0;
        margin: 0;
        background-color: gray;
        position: relative;
    }

    #video{    
        width: 100vw; 
        height: auto;
        margin: auto;
        display: block;
    }
    @media (min-aspect-ratio: 16/9) {
      #video{
        width: 100vw; 
        height:auto;
      }
    }

    @media (max-aspect-ratio: 16/9) {
      #video {
        height: 100vh; 
        width:auto;
        margin-left: 50vw;
        transform: translate(-50%);
      }
    }

    #videoMessage{
    color: white;
    width: 100%; 
    height: 100%;
    position: absolute; 
    top: 100px; 
    left: 50px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    }

#videoMessage h1{
    color: white;
    font-size: 60px;
}

#videoMessage p{
    margin-top: 50px;
    margin-left: -1px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 217, 83);
}
/*video section ends3/

/*About us section starts here*/

.aboutus{
    background-color: black;
    min-height: 300px;
}

.aboutus h1{
    color: white;
    line-height: 45px;
}

#animation_after_hero{
    margin-left: -15px;
    height: 100vh;
    width: 105%;
    animation: animateBackground 10s ease infinite;
}

@keyframes animateBackground{
    0%, 100%{
        background: #652fbe;
    }

    25%{
        background: black;
    }

    50%{
        background: rgb(255, 217, 83);
    }

    75%{
        background: grey;
    }
}

#animation_after_hero .content-animate h1{
    padding-top: 200px;
    color: white;
   /* padding-left: 370px;*/
    font-size: 50px;
    line-height: 30px;
    font-weight: 600;
    
}
#animation_after_hero .content-animate div{
    margin-top: 150px;
}

#animation_after_hero .content-animate a {
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 30px;
    border:2px solid white;
}


#animation_after_hero .content-animate a:before{
    transition: 2s ease-out;
    content: "";
    /*animation: animateTextButton 20s ease infinite;*/

}

@keyframes animateTextButton {
    0%, 100%{
        content: "Lets Collaborate";
        transition: 2s ease-out;
    }

    33%{
        /*content: "Connect with our expert";*/
        content: "Lets expand your mind";
        transition: 2s ease-out;
    }

    60%{
        content: "Get in Touch";
        transition: 2s ease-out;
    }

    75%{
        
        content: "Connect with our expert";
        transition: 2s ease-out;
    }
}


#animation_after_hero .content-animate h1:before{
    
    
    transition: 2s ease-out;
    content: "";
    animation: animateText 20s ease infinite;

}

@keyframes animateText {
    0%, 100%{
        content: "We build for the future";
        transition: 2s ease-out;
    }

    25%{
        content: "We disrupt business ecosystems";
        transition: 2s ease-out;
    }

    50%{
        content: "We turn ideas to scalable products";
        transition: 2s ease-out;
    }

    75%{
        content: "We deliver cutting edge services";
        transition: 2s ease-out;
    } 

    100%{
        content: "We are visionaries";
        transition: 2s ease-out;
    }   
}





/*About us section ends here*/


/*Our services TEFY Digital and p31*/

.service{
    margin-top: 100px;
}

#brand {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand .right{
  background: grey;
}

.containers {
  width: 90%;
  margin: 50px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left1 {
width: 60%;
border-radius: 8px;
min-height: 400px;
transition: transform 2.8s; /* Animation */
}

.right {
  width: 300px;
  min-height: 300px;
  background: silver;/*#652D90;*/
  display: flex;
  justify-content: center;
  padding: 30px;
  color: rgb(70, 70, 70);
  border-radius: 8px;
  margin-left: -150px;
}


.right h1 {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.right p {
    width: 100%;
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 500;
  line-height: 25px;
}

.right a {
    width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}


.animated {
     color: rgb(4,122,162);
     margin-left: 25px;
     font-size: 18px;
     font-weight: bold;
     text-decoration: none;
     background: linear-gradient(to right, rgb(101, 45, 144) 50%, rgb(255, 217, 83) 50%, #FF5858);
     background-size: 200%;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: 0.5s ease-out;
    }

.animated:hover {
    background-position: -100%;
}

/*@media only screen and (max-width: 768px) {

  .containers {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }

  .left {
    width: 100%;
    height: 400px;
  }

  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
}*/
/*
@media only screen and (max-width: 768px){
   
.container {
  width: 100%;
  margin: 0 auto;
}

.left1 {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}


.left2 {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.right {
  width: 100%;
  min-height: 150px;
  background-color: #303137;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: 0px;
}

.right h1 {
  font-size: 26px;
  font-weight: lighter;
}

.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}

.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}
}

*/


ul.services {
          position: relative;
          display: flex;
          border: 1px light grey;
          background-color: black;
          border-radius: 25px 25px;
        }

        li {
          list-style: none;
        }

        label {
          position: relative;
        }

        #services{
            margin-top: 70px;
        }

        #services p{
            font-size: 17px;
        }
        .services h1{
            font-weight: bold;
            margin-top: 5px;
            color: silver;/*rgb(218, 218, 218);*/
        }

        .services div {
          position: relative;
          height: 50px;
          width: 40px;
          background: #18191f;
          color: #555;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 46px;
          cursor: pointer;
          margin: 0 4px;
          border-radius: 20px;
          box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
            4px 4px 6px rgba(0, 0, 0, 0.2),
            inset -1px -1px 4px rgba(255, 255, 255, 0.05),
            inset 1px 1px 1px rgba(0, 0, 0, 0.1);
        }

        input[type="checkbox"] {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 50px;
          width: 80px;
          z-index: 100;
        }

        input[type="checkbox"]:checked ~ div {
          box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
            inset 4px 4px 6px rgba(255, 255, 0, 0.2);
          color: yellow;
          text-shadow: 0 0 15px yellow, 0 0 25px yellow;
          animation: glow 1.5s linear infinite;
        }

        @keyframes glow {
          0% {
            filter: hue-rotate(0deg);
          }
          100% {
            filter: hue-rotate(360deg);
          }
        }
/*Our services stops here*/

/*Testimonial section starts*/

    .background{
        min-height: 700px;
        background-color: rgb(240,240,240);
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 100px;
    }
    
    .testimonial{
        margin-left: 100px;

    }

    .testimonial h1{
        margin-top: 100px;
        color: rgb(255, 201, 14) ;
        font-weight: bold;
        font-size: 35px;
    }

    .testimonial h4{
        margin-left: 23px;
        color: black;
        font-size: 23px;
    }
p.test-content{
  font-size: 30px !important;
  line-height: 45px !important;
}
  
   .carousel-item{
    margin-top: 40px;
   }

   .btn-btn-btn{
  background: #652D90;
}


   .carousel-control-prev-icon{
    margin-left: -250px;
   }

   .carousel-control-next-icon{
    margin-right: -50px;
   }

   .image img{
    margin-top: -20px;
    border-radius: 10px 10px;
   }

   .vl{
    border-left: 1px solid grey;
    min-height: 200px;
   }

   /*testimonial section ends here*/

   /*Blog section starts here*/
   .blog{
    /*margin-top: 50px;*/
     margin-left: 50px;
   }

   .latest{
    margin-left: 50px;
   }

   .blog h1{
    margin-top: 50px;
    font-size: 40px;
   }

   .blog p{
    font-size: 20px;
    line-height: 35px;
    margin-left: -1px;
   }

   .date{
    color: #652D90;
    font-weight: 500;
   }

.card{
    min-height: 200px;
    overflow: hidden;
}

.card img {
  transition: transform 1.2s ease;
}

.card:hover img{
  transform: scale(1.2);
  
}

.card:hover p{
    text-decoration: underline;
}

.visit a:hover{
    color:#652D90;
}
/*End of blog page*/


/*Start of get in touch section*/
.intouch{
    min-height: 300px;
    background-image: linear-gradient(to right, rgba(128,0,255,0.2), rgba(108,209,238));
    animation: mymove 3s infinite;
}

@keyframes mymove {
  from {background-color: rgb(123,32,198);}
  to {background-color: rgba(255,217,83, 0.5)};
}

.intouch h1{
    margin-top: 80px;
    font-size: 40px !important;
}

.intouch button{
    border-radius: 20px 20px;
    transition: transform 0.1s ease;
}
.intouch a{
  font-size: 30px;
}

.intouch:hover button{
    transform: scale(1.2);
}


/*Footer section starts*/
    .footer{
        background-color: black;
        color: white;
        min-height: 300px;
    }

    .foot{
        margin-left: 112px;
    }

    .foot h2, .lik h4, .cont h4{
        color: rgb(255, 217, 83);
    }

    .footer a,h4, h2 {
        color: white;
    }

    .footer a:hover{
        color: #652D90;
    }
.social-links{
  text-align: center;
}
    /*End of footer section */










/*Contact us page starts here*/

   .intro {
    font-size: 40px !important;
    margin-top: 20px;
    color: white;
}

.boxes{
    border: 1px solid silver; /*dotted, dashed,solid, double,groove,ridge,inset,outset,hidden*/
    border-radius: 10px;
    height: 150px;
    color: white;
}

.boxes p:hover{
    text-decoration: underline;
    text-shadow: 10px;
}

.boxes h3:hover{
    color: rgb(255, 217, 83);
}

.boxes h3{
    letter-spacing: 2px;
    color:rgb(236,208,253);/*silver*/;/*#28dcca;*/
}

div.boxes:hover{
    border: 2px solid;
    border-color: linear-gradient(to right, rgba(128,0,255,0.2), rgba(108,209,238)); /*purple;*/
     animation: change 3s infinite;
}

@keyframes change {
  from {border-color: rgb(84, 221, 250);}
  to {border-color: rgba(180,15,180,0.5)};
}

.wrap{
    background-color:#331748; /*rgb(107,7,167)*/; /*(69,32,94);*//*#652D90;*/
    margin-left: -20px;
    margin-right: -20px;
    min-height: 500px;
}

/*Contact us page ends here*/

/*Project enquiries form*/

.form-control:focus{
  border-color: rgb(255, 217, 83) !important;
  border-width: 3px;
}

.form-control{
  border-color: #652D90;
  /*border-width: 2px;*/
}

.form1{
    font-size: 40px;
}

::placeholder{
    font-size: 16px;
}

/*Project enquiries form ends here*/

/*About us page starts here*/

.about h1{
    margin-top: 70px;
    margin-left: 30px;
    font-size: 35px;
    line-height: 60px;
}

.about p{
    margin-left: 30px;
    font-size: 19px;
    line-height: 35px;
    letter-spacing: 1.5px;
    font-weight: normal;
}

.purpose{
    margin-top:200px;
    background-color: #331748;/*rgb(107,7,167);*/;
    width: 92.7%;
    color: white;
}

.purpose h1{
    color: rgb(255, 217, 83);
}
.purpose img{
    margin-top: -120px;
}

.team{
    margin-top: 70px;
    margin-bottom: 100px;
}
.team img{
    margin-top: 70px;
    border-radius: 5px;
}

/*About us page stops here*/

/*Our P-31 page starts here*/

#p31logo{
    margin-left: 55px;
}

.transform h1{
    font-size: 47px;
    letter-spacing: 2px;
    margin-top: -10px;
    margin-left: 75px;

}
#talk {
  margin-left: 145px;
}

.transform h3{
    font-size: 25px;
    letter-spacing: 2px;
    font-style: italic;
    margin-left: 75px;
    color:#652D90; /*grey;*//*rgb(255, 217, 83)*/;
}

.services2{
  padding-top: 50px;
}

.services1 p{
    font-size: 18px;
    margin-left: 75px;
    line-height: 35px;
}

.services1 li{
    margin-bottom: -10px;
    margin-left: 75px;
}


.services1 li p::before {
  content: "";
  display: inline-block;
  position: relative;
  margin-right: 30px;
  width: 25px;
  height: 3px;
  background: #652D90;
  vertical-align: middle;
}

.services1 a{
    margin-left: 31px;
    border-width: 2px;
}

.services2 h1{
    color: white;
    font-size: 36px;
    letter-spacing: 2px;
    margin-left: 95px;
    margin-top: 150px;
}

.services2 p{
    color: white;
    font-size: 18px;
    margin-left: 95px;
    line-height: 35px;  
}

.wif h1{
    margin-left: 30px;
}

.wif p{
    margin-left: 30px;
}

.wif li{
    margin-left: -55px;
}



.background2{
    background-color:#652d90; /*#17a2b8;*/
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);   /*0 90%*/
    margin-left: -15px;
    margin-right: -15px;
}

.services3 p{
    font-size: 18px;
    margin-left: 95px;
    line-height: 35px; 
    color: white; 
}

.services3 li p::before{
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 30px;
    width: 25px;
    height: 3px;
    background: grey; /*rgb(255, 217, 83)*/;
    vertical-align: middle;
}

.head{
     margin-top: 120px;

}

.head2{
    margin-bottom: 110px;
}

.background3{
    background-color: #331748;/*rgb(39, 44, 78);*/
    clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);
    margin-left: -15px;
    margin-right: -15px;
}

.gif5{
    margin-top: 120px;
    margin-left: -60px;
}

.gif6{
    margin-top: 300px;
}

#gif8{
    margin-top: 70px;
    margin-bottom: 300px;
}

.gif7{
    margin-top: 150px;
}

.gif5, .gif6{

}

/*Back to the top arrow start*/

 .foot.p31 h2, .p31.lik h4, .p31.cont h4{
        color: #652d90;
        font-size: bold;
}

 .foot.p31 h2{
    font-size: 25px;
 }

  .p31.lik h4, .p31.cont h4{
    font-size: 18px;
  }

/*back to top arrow stop*/


/*Our TEFY DIGITAL page starts here*/

.btn-digi{
    background-color: white !important;/*rgb(255, 217, 83);*/
    border-color: grey; /*rgb(255, 217, 83);*/
    font-size: 30px;
}

.btn-outline-digi{
    color: rgb(255, 217, 83);
    background-color: transparent;
    border-color: rgb(255, 217, 83);

}

.talk-digi{
  margin-left: 200px;
}
#digi a:hover{
    color: rgb(255, 217, 83);
}

.transform2 h1{
    font-size: 47px;
    letter-spacing: 2px;
    margin-top: -10px;
    margin-left: 75px;

}

.transform2 h3{
    font-size: 25px;
    letter-spacing: 2px;
    font-style: italic;
    margin-left: 75px;
    color: /*grey;*/rgb(255, 217, 83);
}

.serv p{
    font-size: 20px;
    margin-left: 75px;
    line-height: 30px;
    width: 100%;
}
.serv-list li{
    margin-bottom: -10px;
    margin-left: 75px;
    font-size: 20px;
}
.serv-list li p::before {
  content: "";
  display: inline-block;
  position: relative;
  margin-right: 15px;
  width: 10px;
  height: 3px;
  background: rgb(255, 217, 83);
  vertical-align: middle;
}

.services4{
  padding-top: 200px;

}

.services4 h1 {
  margin-left: 75px;
}

.services5 h1{
  margin-left: 50px;
}
.services4 p{
    font-size: 18px;
    margin-left: 75px;
    line-height: 35px;
    color: white;
}

.services5 p{
  font-size: 18px;
    margin-left: 50px;
    line-height: 35px;
    color: white;
}
.services2-list li, .services3-list li{
    margin-bottom: -10px;
    margin-left: 75px;
}


#talk-digi{
    margin-left: 105px;
}
.backgrd2{
    background-color:grey; /*#652d90;*/ /*#17a2b8;*/
    clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);   /*0 90%*/
    margin-left: -15px;
    margin-right: -15px;
}

.backgrd3{
    background-color: rgb(255, 217, 83); /* #331748;*//*rgb(39, 44, 78);*/
    clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 200px;
}

.services4-list li p::before{
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 30px;
    width: 25px;
    height: 3px;
    background: white;
    vertical-align: middle;
    margin-left: 0px;
}

.services5-list li p::before{
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 5px;
    width: 25px;
    height: 3px;
    background: white;
    vertical-align: middle;
    margin-left: 50px;
}

.gif1, .gif2{
  padding-top: 200px;
}

.gif3{
  padding-top: 100px;
}
.gif4{
  padding-top: 50px;
}


.services4 h1, .services5 h1 {
  font-size: 40px;
  color: white;
}

.intouch2{
    min-height: 300px;
    background-image: linear-gradient(to right, rgba(128, 128, 128,0.2), rgba(255, 225, 255));
    animation: mymove2 3s infinite;
}
.intouch2 a {
  font-size: 30px;
  color: grey !important;
  
}

@keyframes mymove2 {
  from {background-color: rgb(255,255,255);}
  to {background-color: rgba(128,128,128, 0.5)};
}

.intouch2 h1{
    margin-top: 80px;
    font-size: 50px;
}

.intouch2 button{
    border-radius: 20px 20px;
    transition: transform 0.1s ease;
}

.intouch2:hover button{
    transform: scale(1.2);
}/*End of TEFY DIGITAL*/


.btn-cta{
  border:white 2px solid;
  font-size: 40px !important;
  width: 40%;
  margin-left: 75px !important;
  transition: ease all .4s;
}

.btn-cta:hover{
  background: white;
  color: grey !important;
  transition: ease all .4s;
}
.btn-cta a{
  padding-left: 40px;
  font-size: 40px !important;
  color: white !important;
}

.btn-cta a:hover{
  color: grey !important;
}

.btn-cta2{
  border:white 2px solid;
  font-size: 40px !important;
  width: 40%;
  margin-left: 50px !important;
  transition: ease all .4s;
  margin-bottom: 30px;
}

.btn-cta2:hover{
  background: white;
  color: rgb(255, 215, 83) !important;
  transition: ease all .4s;
}
.btn-cta2 a{
  padding-left: 40px;
  font-size: 40px !important;
  color: white !important;
}

.btn-cta2 a:hover{
  color: rgb(255, 215, 83) !important;
}



.btn-cta4{
  border:white 2px solid;
  font-size: 40px !important;
  width: 45%;
  margin-left: 100px !important;
  transition: ease all .4s;
  margin-bottom: 30px !important;
  margin-top: 50px !important;
}

.btn-cta4:hover{
  background: white;
  /*color: # !important;*/
  transition: ease all .4s;
}
.btn-cta4 a{
  padding-left: 40px;
  font-size: 30px !important;
  color: white !important;
}

.btn-cta4 a:hover{
  color: #652fbe !important;
}


.btn-cta3{
  border:white 2px solid;
  font-size: 40px !important;
  width: 45%;
  margin-left: 100px !important;
  transition: ease all .4s;
  margin-bottom: 30px;
  /*padding-left: 200px;*/
}

.btn-cta3:hover{
  background: white;
  /*color:  !important;*/
  transition: ease all .4s;
}
.btn-cta3 a{
  padding-left: 40px !important;
  font-size: 25px !important;
  color: white !important;
}

.btn-cta3 a:hover{
  color: #652fbe !important;
}
